Client/Assets/Plugins/
Client/Library/
Client/Logs/
Client/obj/
Client/Temp/
Client/ProjectSettings/
Client/UserSettings/
Client/.vs/
Client/.vsconfig
Client/Assembly-CSharp.csproj
Client/Assembly-CSharp.csproj.user
Client/Client.sln
Client/Packages/
Server/.idea/
Server/src/test/
Server/target/grpc-hello-server-1.0-SNAPSHOT.jar
Server/target/server-1.0.jar
Server/target/classes/
Server/target/maven-archiver/
Server/target/maven-status/
Server/target/protoc-dependencies/
Server/target/test-classes/
Server/target/surefire-reports/
Server/target/protoc-plugins/
